Repository pixiv/three-vrm, pull requests merged in 2021-08, with the labels that each got.

#775 [1.0] Update texture transform bind
  packages/three-vrm-core/src/expressions/VRMExpression.ts
  packages/three-vrm-core/src/expressions/VRMExpressionLoaderPlugin.ts
  packages/three-vrm-core/src/expressions/VRMExpressionTextureTransformBind.ts
  packages/three-vrm-core/src/expressions/VRMExpressionTextureTransformBindState.ts
  packages/three-vrm-materials-mtoon/src/MToonMaterial.ts
  packages/three-vrm-materials-mtoon/src/shaders/mtoon.frag
  packages/three-vrm-materials-mtoon/src/shaders/mtoon.vert
  packages/types-vrmc-vrm-1.0/src/ExpressionTextureTransformBind.ts
Labels: VRM 1.0

#776 fix (1.0, mtoon): fix mtoon crash
  packages/three-vrm-materials-mtoon/src/shaders/mtoon.frag
Labels: bug

#778 [1.0] fix thumbnail loading of meta example
  packages/three-vrm/examples/meta.html
Labels: examples, VRM 1.0

#785 [1.0] Fix expressions
  packages/three-vrm-core/src/expressions/VRMExpressionLoaderPlugin.ts
  packages/three-vrm-core/src/expressions/VRMExpressionManager.ts
  packages/three-vrm-core/src/expressions/VRMExpressionPresetName.ts
  packages/three-vrm-core/src/expressions/index.ts
Labels: bug, enhancement, Breaking Change, VRM 1.0

#786 [1.0] Fix a dumb export issue
  packages/three-vrm-core/src/expressions/index.ts
Labels: bug, VRM 1.0

#792 [1.0] Update expressions API
  packages/three-vrm-core/src/expressions/VRMExpression.ts
  packages/three-vrm-core/src/expressions/VRMExpressionBind.ts
  packages/three-vrm-core/src/expressions/VRMExpressionLoaderPlugin.ts
  packages/three-vrm-core/src/expressions/VRMExpressionMaterialColorBind.ts
  packages/three-vrm-core/src/expressions/VRMExpressionMaterialColorBindState.ts
  packages/three-vrm-core/src/expressions/VRMExpressionMorphTargetBind.ts
  packages/three-vrm-core/src/expressions/VRMExpressionTextureTransformBind.ts
  packages/three-vrm-core/src/expressions/VRMExpressionTextureTransformBindState.ts
  packages/three-vrm-core/src/expressions/index.ts
  packages/three-vrm/examples/expressions.html
  packages/three-vrm/examples/index.html
Labels: Breaking Change, Refactor, VRM 1.0

#793 [1.0] VRMCoreLoaderPlugin
  packages/three-vrm-core/examples/expressions.html
  packages/three-vrm-core/examples/firstPerson.html
  packages/three-vrm-core/examples/humanoid.html
  packages/three-vrm-core/examples/lookAt.html
  packages/three-vrm-core/examples/meta.html
  packages/three-vrm-core/src/VRMCore.ts
  packages/three-vrm-core/src/VRMCoreLoaderPlugin.ts
  packages/three-vrm-core/src/VRMCoreLoaderPluginOptions.ts
  packages/three-vrm-core/src/VRMCoreParameters.ts
  packages/three-vrm-core/src/expressions/VRMExpressionLoaderPlugin.ts
  packages/three-vrm-core/src/firstPerson/VRMFirstPersonLoaderPlugin.ts
  packages/three-vrm-core/src/humanoid/VRMHumanoidLoaderPlugin.ts
  packages/three-vrm-core/src/index.ts
  packages/three-vrm-core/src/lookAt/VRMLookAtLoaderPlugin.ts
  packages/three-vrm-core/src/meta/VRMMetaLoaderPlugin.ts
  packages/three-vrm-materials-mtoon/src/MToonMaterialLoaderPlugin.ts
  packages/three-vrm-materials-v0compat/src/VRMMaterialsV0CompatPlugin.ts
  packages/three-vrm-node-constraint/src/VRMNodeConstraintLoaderPlugin.ts
  packages/three-vrm-springbone/src/VRMSpringBoneLoaderPlugin.ts
  packages/three-vrm/examples/animations.html
  packages/three-vrm/src/VRM.ts
  packages/three-vrm/src/VRMParameters.ts
  packages/three-vrm/src/index.ts
Labels: Refactor, VRM 1.0

#797 Remove typedefgen npm script
  CONTRIBUTING.md
  packages/three-vrm/bin/typedefgen.js
  packages/three-vrm/package.json
Labels: documentation, VRM 1.0
