Repository pixiv/three-vrm, pull requests merged in 2022-09, with the labels that each got.

#1034 examplesでgetBoneNodeを使用している箇所をNormalizedに変更
  packages/three-vrm-core/src/VRMCore.ts
  packages/three-vrm/examples/animations.html
  packages/three-vrm/examples/bones.html
  packages/three-vrm/examples/mouse.html
Labels: examples, VRM 1.0

#1039 BREAKING change: VRMHumanoidの引数でautoUpdateHumanBonesの渡し方を変更
  packages/three-vrm-core/src/humanoid/VRMHumanoid.ts
  packages/three-vrm-core/src/humanoid/VRMHumanoidLoaderPlugin.ts
Labels: Breaking Change, VRM 1.0

#1012 [Pending] [1.0] MToon, let outlineLightingMix be affected from emission and rim lighting
  packages/three-vrm-materials-mtoon/src/shaders/mtoon.frag
Labels: VRM 1.0

#1042 [1.0] fix deprecation warnings of VRMSpringBoneManager
  packages/three-vrm-springbone/src/VRMSpringBoneManager.ts
Labels: bug, VRM 1.0

#1038 [1.0] Fix lookAt when head orientation is non-uniform
  packages/three-vrm-core/package.json
  packages/three-vrm-core/src/lookAt/VRMLookAt.ts
  packages/three-vrm-core/src/lookAt/VRMLookAtBoneApplier.ts
  packages/three-vrm-core/src/lookAt/tests/VRMLookAt.test.ts
  packages/three-vrm-core/src/lookAt/tests/VRMLookAtBoneApplier.test.ts
  packages/three-vrm-core/src/tests/matchers/toBeCloseToQuaternion.ts
  packages/three-vrm-core/src/tests/matchers/toBeCloseToVector3.ts
Labels: bug, VRM 1.0

#1046 [1.0] chore: we can now specify rollup serve port using env PORT
  CONTRIBUTING.md
  packages/three-vrm-core/rollup.config.js
  packages/three-vrm-materials-hdr-emissive-multiplier/rollup.config.js
  packages/three-vrm-materials-mtoon/rollup.config.js
  packages/three-vrm-materials-v0compat/rollup.config.js
  packages/three-vrm-node-constraint/rollup.config.js
  packages/three-vrm-springbone/rollup.config.js
  packages/three-vrm/rollup.config.js
Labels: documentation

#1048 Fix: fix behavior of expressions with isBinary: true
  packages/three-vrm-core/src/expressions/VRMExpression.ts
  packages/types-vrmc-vrm-1.0/src/Expression.ts
Labels: VRM 1.0

#1049 change: Change default value of matcapFactor to [0, 0, 0]
  packages/three-vrm-materials-mtoon/src/MToonMaterial.ts
Labels: VRM 1.0

#1056 fix: Fix v0compat matcap behavior
  packages/three-vrm-materials-v0compat/src/VRMMaterialsV0CompatPlugin.ts
Labels: bug
