Repository pixiv/three-vrm, pull requests merged in 2022-03, with the labels that each got.

#942 fix (1.0, schema): fix signatures of `extensions`
  packages/types-vrmc-springbone-1.0/src/SpringBoneCollider.ts
  packages/types-vrmc-springbone-1.0/src/SpringBoneColliderGroup.ts
  packages/types-vrmc-vrm-1.0/src/Expression.ts
  packages/types-vrmc-vrm-1.0/src/ExpressionMaterialColorBind.ts
  packages/types-vrmc-vrm-1.0/src/ExpressionMorphTargetBind.ts
  packages/types-vrmc-vrm-1.0/src/ExpressionTextureTransformBind.ts
  packages/types-vrmc-vrm-1.0/src/FirstPerson.ts
  packages/types-vrmc-vrm-1.0/src/FirstPersonMeshAnnotation.ts
  packages/types-vrmc-vrm-1.0/src/Humanoid.ts
  packages/types-vrmc-vrm-1.0/src/HumanoidHumanBone.ts
  packages/types-vrmc-vrm-1.0/src/LookAt.ts
  packages/types-vrmc-vrm-1.0/src/LookAtRangeMap.ts
  packages/types-vrmc-vrm-1.0/src/Meta.ts
  packages/types-vrmc-vrm-1.0/src/VRMCVRM.ts
Labels: types

#946 Initialize spring bone
  packages/three-vrm/examples/animations.html
  packages/three-vrm/examples/basic.html
  packages/three-vrm/examples/blendshapes.html
  packages/three-vrm/examples/bones.html
  packages/three-vrm/examples/debug.html
  packages/three-vrm/examples/dnd.html
  packages/three-vrm/examples/encoding.html
  packages/three-vrm/examples/envmap.html
  packages/three-vrm/examples/firstperson.html
  packages/three-vrm/examples/lookat-advanced.html
  packages/three-vrm/examples/lookat.html
  packages/three-vrm/examples/materials-debug.html
  packages/three-vrm/examples/meta.html
  packages/three-vrm/examples/mouse.html
  packages/three-vrm/src/springbone/VRMSpringBone.ts
  packages/three-vrm/src/springbone/VRMSpringBoneManager.ts
Labels: examples

#947 SpringBoneManager updates ancestor bones
  packages/three-vrm-springbone/examples/collider.html
  packages/three-vrm-springbone/examples/multiple.html
  packages/three-vrm-springbone/examples/single.html
  packages/three-vrm-springbone/src/VRMSpringBoneJoint.ts
  packages/three-vrm-springbone/src/VRMSpringBoneLoaderPlugin.ts
  packages/three-vrm-springbone/src/VRMSpringBoneManager.ts
Labels: bug, VRM 1.0
